.cartItem {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 15px;
    margin-right: 0;
    margin-left: 0;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    height: max-content;
    padding: 15px;
}

.cartItem .col-2 {
    padding-left: 0;
    padding-right: 0;
}

.cartItem img {
    border-radius: 15px;
    /* height: 200px; */
    width: 100%;
}

.cartItem p{
    margin: 0;
}