.cartItem {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 15px;
    margin-right: 0;
    margin-left: 0;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    height: max-content;
    padding: 15px;
    position: relative;
}

/* .cartItem .col-1 {
    padding-left: 15px;
    padding-right: 0;
} */

.cartItem img {
    border-radius: 15px;
    /* height: 200px; */
    width: 100%;
}

.cartItem p{
    margin: 0;
}

.removeButton {
    position: absolute;
    top: 15px;
    right: 15px;
}