.cast {
    border-radius: 15px;
    background: #FFFFFF;
    color: #2F2F2F;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    height: 100%;
}

.noPicture {
    height: 69%;
    color: #999999;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding-top: 66.666666%; */
    background-color: #e4e4e4;
}

.noPicture i{
    font-size: 45px;
}

.castDesc {
    padding: 15px;
}

.castDesc p {
    margin: 0;
}