.poster {
    padding-right: 0;
    padding-left: 0;
    background-color: white;
    box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.1);
    color: #2F2F2F;
    border-radius: 15px;
    overflow: hidden;
    height: max-content;
    position: sticky;
    top: 6rem;
}

.poster p {
    margin: 0;
}

.movieDetail p {
    color: #2F2F2F;
}

.title {
    font-size: 18px;
    font-weight: 700;
}

.price {
    font-weight: 700;
    color: #2B5C89;
}

.overview {
    margin-top: 15px;
    font-size: 14px;
}

.movieDesc {
    padding: 15px;
    max-height: 100%;
    /* white-space: nowrap; */
    /* text-overflow: ellipsis;
    display: inline-block; */
    overflow: hidden;
    position: relative;
    bottom: 0;
}

h4 {
    font-weight: 600;
    color: #2B5C89;
}

.movieDetail {
    padding-left: 30px;
}
