@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body {
  margin: 0;
  font-family: 'Jost', sans-serif !important;
  color: #2B5C89 !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  color: #2f2f2f;
}

h2 {
  font-weight: 700;
  margin-bottom: 30px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar-brand {
  /* font-family: 'Anton', sans-serif; */
  color: #2B5C89;
}

.navbar {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9000;
}

a, a:hover{
  color: inherit;
}

.navbar p {
  margin: 0;
}

.hamburger {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(56,60,144)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}